root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.{py,ini}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = false
max_line_length = 120

[scripts/*]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = false
max_line_length = 120

[tests/{kif,csa}_test.py]
trim_trailing_whitespace = false
